@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width:100%;
    margin:0 auto;
    padding: .6rem 1.5rem;
}

html{
    overflow-x:hidden;
}

@layer components{
    .toggle_menu span{
        width: 2rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 3rem;
        translate: .5 ease;
    }
    .toggle_menu span:nth-child(2){
        margin: .2rem 0;
    }

    .toggle_menu.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[225deg] ease-out duration-[.5s];
    }

    .toggle_menu.open span:nth-child(2){
        @apply opacity-0;
    }

    .toggle_menu.open span:last-child{
        @apply translate-x-0 translate-y-[-3px] rotate-[-225deg] ease-out duration-[.5s];
    }

    .header_icons ul a{
        @apply justify-center items-center rounded-full bg-pink cursor-pointer p-[.7rem] px-[.8rem] hover:text-white
    }

    .header_nav {
        @apply right-[-70%] lg:right-0
    }

    .header_nav.open{
        @apply w-[70%] right-0
    }

    .header_nav ul li {
        @apply w-[100%] p-[2rem] my-[1rem] hover:bg-pink lg:p-0 lg:bg-black lg:hover:bg-black lg:hover:text-pink;
    }

    
    .btn{
        @apply inline-block py-[.5rem] px-[1rem] rounded-full bg-pink border-solid border-2 border-pink hover:bg-white hover:border-solid hover:border-2 hover:border-black;
    }

    .works_card_title i{
        @apply hover:text-black
    }

    .works_item:hover .works_inside{
    opacity:1;
    }

    .works_inside{
    @apply text-white text-center p-[.5rem] lg:text-[2rem] bg-pink top-0 right-0  w-[12.5rem] h-[25vh] lg:w-[19.5rem] lg:h-[19.5rem]  border-4 border-white;
    }


    .works_inside_p {
    @apply my-[.5rem] lg:my-[2rem] lg:mx-[1rem] ;
    }

    .works_inside_title{
        @apply lg:text-[1.5rem];
    }
   
    .contact_items{
        @apply lg:justify-around;
    }

    .contact_item{
        @apply lg:text-center lg:mb-[1rem];
    }

    .contact_item h4{
        @apply lg:text-[1.1rem];
    }
    .contact_item  i{
        @apply lg:text-[1.4rem];
    }

    .footer_icons li{
        @apply mr-[.5rem]
    }

}





